.input-container{
  display: flex;
  justify-content:space-between;
  background-color: orange; 
  padding: 20px 40px;
  align-items: center;
}

input {
  border-radius : 10px;
}

.layout {
  font-family:'Courier New', Courier, monospace;
  word-wrap: break-word;
  word-break: normal;
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto 0 auto;
}
span {
  font-size: 1.2em;
  font-weight: bold;

}
input {
  width: 300px;
  height: 30px;
  border : 2px solid black;
}

button {
  width: 100px;
  height: 40px;
  padding: 5px;
  background-color: white;
  border : 3px solid black;
  border-radius : 10px;
  margin-right: 5px;
  font-weight: bold;
}

.todo-box {
  display: flex;
  flex-direction: column;
  border : 5px solid black;
  width : 300px;
  min-height : 200px;
  padding:10px;
  border-radius : 10px;
}

.todo-box > p {
  min-width: 290px;
  min-height: 50px;
}

.todo-box > .button-container {
  margin-top: auto;
}

.todoBox-container {
  display : flex;
  flex-wrap : wrap;
  gap : 20px;
}